* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body, html {
  height: 100%;
  width:auto ;
}

.hero-section {
  background: url('bg_image.jpg') no-repeat center center/cover;
  height: 100vh;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0.4);
}

.nav-links a.active {
  color: rgb(247, 78, 0); /* Blue text for active */
  font-weight: bold;
  border-bottom: 2px solid rgb(255, 255, 255); /* Optional underline */
}


footer {
  background-color: #626e48;
  color: white;
  text-align: center;
  padding: 10px;
  position: relative;
  bottom: 0;
  width: 100%;
} 

.logo {
  font-size: 24px;
  color: #ff0000;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.content {
  margin-top: 100px;
}

.content h1 {
  font-size: 50px;
  margin-bottom: 20px;
}

.content p {
  font-size: 20px;
  margin-bottom: 30px;
}

button {
  padding: 12px 24px;
  font-size: 16px;
  background-color: #ff6b6b;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 8px;
}

button:hover {
  background-color: #ff4b4b;
}
 
.social-icons {
  margin-top: 10px;
}

.social-icons a {
  color: white;
  margin: 0 10px;
  font-size: 20px;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #ff6b6b;
}
